
Cs_Star_Wars_Control/.vs/StarWarsControl/v16/.suo
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.csproj.CoreCompileInputs.cache
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.csproj.FileListAbsolute.txt
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.csproj.GenerateResource.cache
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.csprojAssemblyReference.cache
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.exe
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.Form1.resources
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.pdb
Cs_Star_Wars_Control/StarWarsControl/obj/Debug/StarWarsControl.Properties.Resources.resources
Cs_Star_Wars_Control/StarWarsControl/Program.cs
Cs_Star_Wars_Control/StarWarsControl/Properties/AssemblyInfo.cs
Cs_Star_Wars_Control/StarWarsControl/Properties/Resources.Designer.cs
Cs_Star_Wars_Control/StarWarsControl/Properties/Resources.resx
Cs_Star_Wars_Control/StarWarsControl/Properties/Settings.Designer.cs
Cs_Star_Wars_Control/StarWarsControl/Properties/Settings.settings
Cs_Star_Wars_Control/StarWarsControl/StarWarsControl.csproj
Cs_Star_Wars_Control/StarWarsControl/bin/Debug/StarWarsControl.pdb
Cs_Star_Wars_Control/StarWarsControl/bin/Debug/StarWarsControl.exe.config
Cs_Star_Wars_Control/StarWarsControl/bin/Debug/StarWarsControl.exe
Cs_Star_Wars_Control/StarWarsControl/App.config
